<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290513061665-374pho7p6octs5u5o51do3a680e8i0u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290513061665-374pho7p6octs5u5o51do3a680e8i0u9</string>
	<key>API_KEY</key>
	<string>AIzaSyBuHtNB3nOxvWm-2APEL8EfqAc6uBSUVpY</string>
	<key>GCM_SENDER_ID</key>
	<string>290513061665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lefthandedapps.InstantGram</string>
	<key>PROJECT_ID</key>
	<string>instantgram-8b318</string>
	<key>STORAGE_BUCKET</key>
	<string>instantgram-8b318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:290513061665:ios:5eceac1b9b2c5a4c332060</string>
</dict>
</plist>
